<a href="https://colab.research.google.com/github/RyanAmormim/ENG_20242/blob/main/atividade_da_entrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Crie uma tupla chamada cidades que contenha os nomes de cinco cidades. Imprima a terceira cidade.

cidades = ('Vila Velha', 'Vitoria','Viana','Domingos Martins','Curitiba')
print(cidades[2])

Viana

In [2]:
#2 Crie uma tupla chamada numeros com os seguintes valores: (1, 2, 3, 1, 4, 1). Utilize o método count() para contar quantas vezes o número 1 aparece na tupla.

numeros = (1, 2, 3, 1, 4, 1)
numeros.count(1)

3

In [3]:
#3 Crie uma tupla chamada animais com os seguintes valores: ('cachorro', 'gato', 'pássaro'). Verifique se 'gato' está na tupla e imprima uma mensagem informando o resultado.

animais = ('cachorro', 'gato', 'pássaro')
if 'gato' in animais:
  print(f'o gato esta na lista')
else:
  print(f'nao ha este animal na lista')

o gato esta na lista

In [4]:
#4 Dada a tupla meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio'), encontre e imprima o índice do mês 'abril'.

mes = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
print(mes.index('abril'))

3

In [5]:
#5 Crie uma tupla chamada coordenadas que armazene a latitude e longitude de um local (ex: (-23.5505, -46.6333)). Imprima a latitude e a longitude separadamente.

coordenadas = (-23.5505, -46.6333)
print(coordenadas[0])
print(coordenadas[1])

-23.5505
-46.6333

In [6]:
#6 Crie um dicionário chamado carro com as chaves marca, modelo e ano. Atribua valores de sua escolha e imprima o modelo do carro.

carro = {'marca' : 'Hyundai',
'modelo' : 'creta',
'ano' : '2024'}
print(carro)

{'marca': 'Hyundai', 'modelo': 'creta', 'ano': '2024'}

In [7]:
#7 Use o dicionário carro que você criou no exercício anterior. Adicione uma nova chave chamada cor e atribua uma cor ao carro. Em seguida, imprima o dicionário completo.

carro['cor'] = 'branco'
print(carro)

{'marca': 'Hyundai', 'modelo': 'creta', 'ano': '2024', 'cor': 'branco'}

In [8]:
#8 Dado o dicionário pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}, remova a chave idade e imprima o dicionário resultante.

pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
pessoa.pop('idade')
print(pessoa)

{'nome': 'João', 'cidade': 'São Paulo'}

In [9]:
#9 Crie um dicionário chamado produto que contenha nome, preco e quantidade. Use um loop for para imprimir todos os pares chave/valor.

dicionario = {'produto' : 'pipoca',
'preço' : 3.97,
'quantidade' : '35'}
for chave, valor in dicionario.items():
  print(chave, valor)

produto pipoca
preço 3.97
quantidade 35

In [17]:
#10 Dado o dicionário estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}, verifique se a chave curso existe. Se existir, imprima "A estudante está no curso de Biologia."

estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if curso in estudante:
  print(f'A estudante está no curso de Biologia')
else:
  print(f'a estudante nao esta matriculada')

A estudante está no curso de Biologia

In [18]:
#1 - Crie um conjunto chamado `frutas` que contenha os seguintes elementos: "maçã", "banana", "laranja" e "uva". Depois de criar o conjunto, exiba-o no console para confirmar os elementos adicionados.

frutas = {"maçã", "banana", "laranja", "uva"}
print(frutas)

{'uva', 'maçã', 'laranja', 'banana'}

In [19]:
#2 - Utilizando o conjunto `frutas` criado anteriormente, adicione a fruta "morango" ao conjunto. Lembre-se que conjuntos não permitem duplicatas, então adicione um elemento que já exista para verificar o comportamento.

frutas = {"maçã", "banana", "laranja", "uva"}
frutas.add("morango")
print(frutas)

{'uva', 'morango', 'banana', 'maçã', 'laranja'}

In [20]:
#3 - Remova a fruta "banana" do conjunto `frutas`. Se "banana" não estiver presente, o código pode gerar um erro. Verifique se a fruta existe antes de removê-la ou trate o erro adequadamente.
frutas.remove("banana")
print(frutas)

{'uva', 'morango', 'maçã', 'laranja'}

In [21]:
#4 - Verifique se a fruta "laranja" está presente no conjunto `frutas` usando uma estrutura condicional. Exiba uma mensagem no console indicando se "laranja" está ou não presente no conjunto.
if "laranja" in frutas:
  print(frutas)
else:
  print(f'nao ha laranjas no conjunto')

{'uva', 'morango', 'maçã', 'laranja'}

In [22]:
#5 - Crie um segundo conjunto chamado `citrus`, contendo "laranja", "limão" e "tangerina". Faça a união dos conjuntos `frutas` e `citrus`, criando um novo conjunto que contém todos os elementos dos dois conjuntos. Exiba o resultado dessa união.

citrus = {"laranja", "limão","tangerina"}
uniao = frutas.union(citrus)
print(uniao)

{'uva', 'maçã', 'morango', 'tangerina', 'laranja', 'limão'}

In [23]:
#6 - Usando os conjuntos `frutas` e `citrus`, encontre a interseção entre eles, ou seja, os elementos que estão presentes em ambos os conjuntos. Exiba os elementos comuns.

intersecao = frutas.intersection(citrus)
print(intersecao)

{'laranja'}

In [24]:
#7 - Encontre a diferença entre os conjuntos `frutas` e `citrus`, ou seja, os elementos que estão em `frutas` mas não estão em `citrus`. Exiba o resultado dessa diferença.

diferentes = frutas.difference(citrus)
print(diferentes)

{'uva', 'maçã', 'morango'}

In [25]:
#8 - Esvazie completamente o conjunto `citrus` usando um método específico que remove todos os elementos de um conjunto. Verifique se o conjunto foi realmente esvaziado ao exibi-lo no console após a operação.

citrus.clear()
print(citrus)

set()

In [26]:
#9 - Converta o conjunto `frutas` em um conjunto imutável, ou seja, um conjunto que não pode ser alterado após sua criação. Crie esse conjunto imutável e exiba-o no console.
copia = frozenset(frutas)
imutavel = (copia)
print(imutavel)

frozenset({'uva', 'maçã', 'morango', 'laranja'})

In [27]:
#10 - Conte quantos elementos únicos existem no conjunto `frutas` e exiba o número total de elementos no console.

print(len(frutas))

4

In [28]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.

lista =[2,4,7,9]
for i in lista:
  print(i*2)

4
8
14
18

In [29]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.

lista = ["maçã", "banana", "laranja", "uva"]
lista[lista.index("banana")] = "melancia"
print(lista)

['maçã', 'melancia', 'laranja', 'uva']

In [30]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.

lista = [57,37,19,59,2]
print(max(lista))
print(min(lista))

59
2

In [31]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.

lista = ["maçã", "banana", "laranja", "uva"]
nova_lista = []
for i in lista:
  nova_lista.append(len(i))
print(nova_lista)

[4, 6, 7, 3]

In [32]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.

lista = [641,684,683,616,32]
lista.sort()
print(lista)

[32, 616, 641, 683, 684]

In [33]:
#6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.

tupla = (1,2,3,4,5)
tupla[0] = 3
print(tupla) #uma tupla nao pode ser alterada, por esse motivo, da erro

TypeError: 'tuple' object does not support item assignment

In [34]:
#7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.

tupla = (1,2,3,4,5)
soma = sum(tupla)
print(soma)

15

In [35]:
#8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.

tupla = (1,2,3,4,5)
print(tupla[0])
print(tupla[-1])

1
5

In [36]:
#9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.

lista = ["a", "b", "c", "d"]
tupla = tuple(lista)
print(tupla)

('a', 'b', 'c', 'd')

In [37]:
#10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.

tupla = (1,2,3,"Flamengo")
if 3 in tupla:
  print(f"o numero se encontra na lista")
else:
    print(f"nao tem esse numero na lista")

o numero se encontra na lista

In [38]:
#11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
uniao = set1.union(set2)
interseçao = set1.intersection(set2)
difereca = set1.difference(set2)
print(uniao)
print(interseçao)
print(difereca)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [39]:
#12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.

lista = [1, 2, 2, 3, 4, 4, 5]
setzinho = set(lista)
print(setzinho)

{1, 2, 3, 4, 5}

In [40]:
#13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.

setinho = {5, 10, 15, 20}
adicao = setinho.add(25)
print(setinho)
remove = setinho.remove(15)
print(setinho)

{5, 10, 15, 20, 25}
{5, 10, 20, 25}

In [41]:
#14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.

seti = {1, 2, 3, 4, 5}
if 7 in seti:
  print(f"Tem")
else:
  print(f"nao tem")

nao tem

In [42]:
#15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.

seti = set()
for i in range(10):
  seti.add(i)
print(seti)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
#16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.

dic = {"nome" : "ana", "idade" : 22, "curso" : "engenharia"}
dic["universidade"] = "USP"
print(dic)

{'nome': 'ana', 'idade': 22, 'curso': 'engenharia', 'universidade': 'USP'}

In [62]:
#17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.

dic = {'pipoca' : 3.99,
'macarrao' : 5.20,
'doce de leite' : 11.50,
'toddy' : 15.00}
if chave in dic:
  print(dic)

{'pipoca': 3.99, 'macarrao': 5.2, 'doce de leite': 11.5, 'toddy': 15.0}

In [45]:
#18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.

lista = {"luiz":[10,8,7,6], "maria":[7,8,7,9]}
for i in lista:
  print(i, sum(lista[i])/len(lista[i]))

luiz 7.75
maria 7.75

In [46]:
#19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.

alunos = {"luiz":[10,8,7,6], "maria":[7,8,7,9]}
busca = input("Digite o nome do aluno: ")
if busca in alunos:
  print(busca,alunos[busca])
else:
  print("aluno nao encontrado")

Digite o nome do aluno: luiz
luiz [10, 8, 7, 6]

In [47]:
#20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.

itens = {'pao' : 2.50, 'leite' : 3.00, 'cafe' : 4.50}
for i in itens:
  print(i)
alter = input("qual quer alterar?: ")
novopreco = float(input("novo preço ?: "))
itens[alter] = novopreco
print(itens)

pao
leite
cafe
qual quer alterar?: leite
novo preço ?: 7.00
{'pao': 2.5, 'leite': 7.0, 'cafe': 4.5}