<a href="https://colab.research.google.com/github/RyanAmormim/ENG_20242/blob/main/lista_3_feita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
numeros = [1,2,3,4,5]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

[1, 4, 9, 16, 25]

In [ ]:
#2
temperaturas_celsius = [0, 20, 30, 40, 100]
temperaturas_fahrenheit = list(map(lambda c: (c * 9/5) + 32, temperaturas_celsius))
print(temperaturas_fahrenheit)

[32.0, 68.0, 86.0, 104.0, 212.0]

In [ ]:
#3
palavras = ["python", "programacao", "lambda", "exercicio", "lista"]
comprimentos = list(map(lambda palavra: len(palavra), palavras))
print(comprimentos)

[6, 11, 6, 9, 5]

In [ ]:
#4
numeros = [1, 2, 3, 4, 5]
dobrados = list(map(lambda x: x * 2, numeros))
print(dobrados)

[2, 4, 6, 8, 10]

In [ ]:
#5
nomes = ["João", "Maria", "Carlos", "Ana"]
nomes_com_prefixo = list(map(lambda nome: "Sr. " + nome if nome != "Maria" else "Sra. " + nome, nomes))
print(nomes_com_prefixo)

['Sr. João', 'Sra. Maria', 'Sr. Carlos', 'Sr. Ana']

In [ ]:
#6
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_pares = list(filter(lambda x: x % 2 == 0, numeros))
print(numeros_pares)

[2, 4, 6, 8, 10]

In [ ]:
#7
palavras = ["python", "sol", "lua", "desenvolvimento", "code", "java"]
palavras_curta = list(filter(lambda palavra: len(palavra) < 5, palavras))
print(palavras_curta)

['sol', 'lua', 'code', 'java']

In [ ]:
#8
idades = [12, 17, 20, 18, 25, 15, 30, 16]
idades_maiores_que_18 = list(filter(lambda idade: idade > 18, idades))
print(idades_maiores_que_18)

[20, 25, 30]

In [ ]:
#9
strings = ["apple", "banana", "avocado", "cherry", "apricot", "orange"]
strings_com_a = list(filter(lambda s: s.lower().startswith('a'), strings))
print(strings_com_a)

['apple', 'avocado', 'apricot']

In [ ]:
#10
numeros = [-5, 3, -2, 0, 8, -1, 4]
numeros_positivos = list(filter(lambda x: x > 0, numeros))
print(numeros_positivos)

[3, 8, 4]

In [ ]:
#11
from functools import reduce
numeros = [1, 2, 3, 4, 5]
soma = reduce(lambda x, y: x + y, numeros)
print(soma)

15

In [ ]:
#12
from functools import reduce
numeros = [1, 2, 3, 4, 5]
produto = reduce(lambda x, y: x * y, numeros)
print(produto)

120

In [ ]:
#13
from functools import reduce
numeros = [1, 2, 3, 4, 5, 10, 8]
maior_numero = reduce(lambda x, y: x if x > y else y, numeros)
print(maior_numero)

10

In [17]:
#14
from functools import reduce

palavras = ["olá", "mundo", "como", "vai"]
resultado = reduce(lambda x, y: x + " " + y, palavras)
print(resultado)

olá mundo como vai

In [18]:
#15
numeros = [123, 456, 789]
resultado = list(map(lambda x: sum(int(digito) for digito in str(x)), numeros))
print(resultado)

[6, 15, 24]

In [19]:
#16
numeros = [5, 8, 10, 12, 15, 20]
resultado = list(filter(lambda x: x > 20, map(lambda x: x * 2, numeros)))
print(resultado)

[24, 30, 40]

In [20]:
#17

palavras = ["amigo", "escola", "carro", "elefante", "computador", "mesa"]
palavras_com_e = list(filter(lambda palavra: 'e' in palavra, palavras))
quantidade = len(palavras_com_e)
print("Palavras que contêm a letra 'e':", palavras_com_e)
print("Quantidade:", quantidade)

Palavras que contêm a letra 'e': ['escola', 'elefante', 'mesa']
Quantidade: 3

In [21]:
#18

temperaturas_fahrenheit = [32, 50, 68, 77, 95, 104, 122]
temperaturas_celsius = list(map(lambda f: (f - 32) * 5.0/9.0, temperaturas_fahrenheit))
temperaturas_abaixo_20 = list(filter(lambda c: c < 20, temperaturas_celsius))
print("Temperaturas em Celsius abaixo de 20°C:", temperaturas_abaixo_20)

Temperaturas em Celsius abaixo de 20°C: [0.0, 10.0]

In [22]:
#19
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_pares = list(filter(lambda x: x % 2 == 0, numeros))
soma_pares = sum(numeros_pares)
print("Números pares:", numeros_pares)
print("Soma dos números pares:", soma_pares)

Números pares: [2, 4, 6, 8, 10]
Soma dos números pares: 30

In [23]:
#20
numeros = [-5, 3, -2, 8, -1, 4]
numeros_modificados = list(map(lambda x: x if x >= 0 else 0, numeros))
print("Lista modificada:", numeros_modificados)

Lista modificada: [0, 3, 0, 8, 0, 4]

In [24]:
#21
numeros = [1, 2, 3, 4, 5]
cubos = list(map(lambda x: x**3, numeros))
print("Cubos dos números:", cubos)

Cubos dos números: [1, 8, 27, 64, 125]

In [26]:
#22
is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**0.5) + 1))
print(is_prime(11))
print(is_prime(4))
print(is_prime(1))
print(is_prime(13))

True
False
False
True

In [27]:
#23
numeros = [10, 20, 30, 40, 50]
resultados = list(map(lambda x: x / 5, numeros))
print("Resultado da divisão por 5:", resultados)

Resultado da divisão por 5: [2.0, 4.0, 6.0, 8.0, 10.0]

In [28]:
#24
texto = "Exemplo de string com vogais"
resultado = ''.join(filter(lambda x: x.lower() not in 'aeiou', texto))
print("Texto sem vogais:", resultado)

Texto sem vogais: xmpl d strng cm vgs

In [29]:
#25
palavras = ["olá", "mundo", "como", "vai"]
palavras_maiusculas = list(map(lambda palavra: palavra.upper(), palavras))
print("Palavras em maiúsculas:", palavras_maiusculas)

Palavras em maiúsculas: ['OLÁ', 'MUNDO', 'COMO', 'VAI']

In [30]:
#26
numeros = [10, -3, 5, -8, 2, -1]
numeros_negativos = list(filter(lambda x: x < 0, numeros))
print("Números negativos:", numeros_negativos)

Números negativos: [-3, -8, -1]

In [31]:
#27
numeros = [-10, 5, -3, 8, -2]
valores_absolutos = list(map(lambda x: abs(x), numeros))
print("Valores absolutos:", valores_absolutos)

Valores absolutos: [10, 5, 3, 8, 2]

In [32]:
#28
numeros = [-10, 5, -3, 8, -2]
valores_absolutos = list(map(lambda x: abs(x), numeros))
print("Valores absolutos:", valores_absolutos)

Valores absolutos: [10, 5, 3, 8, 2]

In [33]:
#29
numeros = [10, 20, 30, 40, 50]
resultado = list(map(lambda x: x[1] * x[0], enumerate(numeros)))
print("Resultado da multiplicação pelo índice:", resultado)

Resultado da multiplicação pelo índice: [0, 20, 60, 120, 200]

In [37]:
#30
palindrome = lambda palavra: palavra == palavra[::-1]
print(palindrome("arara"))
print(palindrome("python"))
print(palindrome("radar"))

True
False
True